// accordion styles

.accordion
    border-top: 1px solid cornflowerblue
    opacity: 0
    transition: opacity 150ms

    &--init
        opacity: 1

    &__item
        border-bottom: 1px solid cornflowerblue

    &__header
        margin: 0
        padding: 0

    &__button
        padding: 0.75rem 0
        width: 100%
        font-size: 1.4rem
        font-weight: bold
        text-align: left
        background: none
        border: none
        cursor: pointer
        color: cornflowerblue

        .accordion__item[data-open] &
            color: black

    &__body
        padding-bottom: 1.6rem

    &__collapse
        display: grid
        grid-template-rows: 0fr
        transition: grid-template-rows 300ms ease

        &-inner
            overflow: hidden
            
        .accordion__item[data-open] &
            grid-template-rows: 1fr